.password-container {
    position: relative;
}

.toggle-password {
    cursor: pointer;
}

.bi-eye, .bi-eye-slash {
    font-size: 1rem;
}

/* 密碼顯示樣式 */
.password-text {
    display: flex;
    align-items: center;
}

.password-text .toggle-password {
    margin-left: 5px;
    color: #6c757d;
    background: none;
    border: none;
    padding: 0;
}

.password-text .toggle-password:hover {
    color: #0d6efd;
}
